.line1{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 30%;
  position: absolute;
  nav-down: 20px;
  gap: 10px;  
}
.line1 button{
  border: none;
  height: 5px;
  border-radius: 30px;
  box-shadow: 0 0 20px skyblue;
}
.b1{
  background: linear-gradient(to right,rgb(98, 0, 255), 88%, rgb(98, 0, 255), 40px,white);
}
.b2{
  background: linear-gradient(to right,rgb(98, 0, 255), 82%, rgb(98, 0, 255), 20px,white);
}
.b3{
  background: linear-gradient(to right,rgb(98, 0, 255), 79%, rgb(98, 0, 255), 20px,white);
}
.b4{
  background: linear-gradient(to right,rgb(98, 0, 255), 84%, rgb(98, 0, 255), 20px,white);
}
